mixin songCard(song)
    - const min =String(Math.trunc(song.duration/60)).padStart(2,'0')
    - const sec = String(Math.trunc(song.duration) % 60).padStart(2, '0')
    - let duration = `${min}:${sec}`
    - let artists = song.artists.join(', ')
    - let title = song.title
    - if (artists.length > 20) artists = artists.slice(0, 20) + `...`
    - if (song.title.length > 15) title = song.title.slice(0, 15) + `...`;
    .song__card(id=`${song._id}`)
        img.song__card--img(src=`/api/v1/songs/${song._id}/image` alt='')
        .song__meta
            h3.song__card--title= title
            p.song__card--duration=duration
            h5.song__card--artist= artists
            p.song__card--like= `${song.likesCount} ❤️`
