doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/d-tunes.css')
        link(rel='stylesheet' href='/css/song.css')
        link(rel='stylesheet' href='/css/modal.css')
        title D-Tunes
    body
        header
            include _header
        main
            .song__header--big= song.title
            .song__container--big(id = `${song.id}`)
                img.song__card--big-img(src=`/api/v1/songs/${song._id}/image` alt='')
                .song__meta--big
                    h3.song__album--big
                        .text= `${song.album} - ${song.year || ''}`
                        .like
                            span.like__count #{song.likesCount}
                            |
                            span.song__like--button
                                img(src='/img/static/like.svg' alt='like' height='18px')
                    - if (song.language === "undefined" || song.language === "Unknown" ) song.language = ' -- ';
                    h4.song__language--big= `${song.language}`
                        span.song__card--playlist
                            img(src='/img/static/playlist.svg' alt='playlist' height='30px')
                    h4.song__artists--big= `${song.artists.join(', ')}`

                .audio-container
                    audio#player(controls autoplay )
                        source(src=`/music/${song.filename}` type='audio/mpeg')
                        |                     Your browser does not support the audio element.
            secion.sidebar
                h1.sidebar_header More Like This
                .song__container
                    include _songCard
                    for moreSong in songs
                        a(href=`/song/${moreSong._id}`)
                            +songCard(moreSong)

        #myModal.modal
            .modal-content
                span.close &times;
                h2 SELECT PLAYLISTS
                form#modalForm
                    for playlist in playlists
                        label
                            - if (playlist.songs.includes(song._id))
                                input(type='checkbox' name='playlists' value=`${playlist._id}` checked)
                            - else
                                input(type='checkbox' name='playlists' value=`${playlist._id}`)
                            | #{playlist.name}
                        br
                    // Text box to add new playlist
                    label Add New Playlist
                        br
                        input(type='text' id='newPlaylist' name='newPlaylist' placeholder='New Playlist')
                    span.modal--buttons
                        button(type="submit" id="submitButton") Submit
        footer
            include _footer
